# 1.2 Data Description

Obtaining relevant location data is key to solving the problem of strategic location of a restaurant .
I have therefore used geolocation data from **Foursquare** to get Data partaining the location of the restaurant and its neigbours within a 4 km  radius . This include the longitude and latitude coordinates as these are essentiall in mapping ,the shop name of the restaurant and the about has also been collected . This I have then converted to a pandas dataframe for ease of use .

With the infomation about the location of the existing restaurants it is possible to apply KDE(Kernel Density Estimation) to identify the concentration of exisitng restaurants and set up a new restaurant where there exists few

In [9]:
## making api calls to foursquare
import pandas as pd
import requests as rq
CLIENT_ID = 'DPIZ13PIHP1BYV3EAJVTRO4GPMFPOCBVTHKT45OPNYCKCWGS' # my Foursquare ID
CLIENT_SECRET = 'MMKATV3MMUCFBLIQ4MJELX5ZDD12AFCMCHKJWNI223NRHCIL' #my Foursquare Secret
VERSION = '20180604'
LIMIT = 30
request_data = {
    "client_id": CLIENT_ID,
    "client_secret": CLIENT_SECRET,
    "v": '20180605',
    "section":"restaurant",
    "near": "Nairobi",
    "radius": 4000,#within 4km radius
    "limit": 100}

df_nai = rq.get("https://api.foursquare.com/v2/venues/explore", params=request_data)

d = df_nai.json()["response"]
items = d["groups"][0]["items"]
df_restaurant = []
for item in items:
    venue = item["venue"]
    categories, uid, name,location = venue["categories"], venue["id"], venue["name"],item["venue"]["location"]
    assert len(categories) == 1
    shortname = categories[0]["shortName"]
    lat = location["lat"]
    lng = location["lng"]
    datarow = (name, shortname, lat, lng)
    df_restaurant.append(datarow)
df = pd.DataFrame(df_restaurant, columns=["name", "shortname", "lat", "lng"])
df.head()

                     name         shortname       lat        lng
0                    CJ's       Coffee Shop -1.283147  36.818323
1  Subway,Kenyatta Avenue        Sandwiches -1.284390  36.821827
2   Cafe Maghreb (Serena)  Eastern European -1.286752  36.814836
3         Najmi Fast Food         Fast Food -1.280862  36.821209
4         Tatu Restaurant           African -1.278291  36.816383